
.box{
    width: 100px;
    height:100px;
    background-color: #e84610;
    transform: skew( 20deg);
}

.scale{
    padding-top: 50px;
    display: block;
    margin: auto;
    width: 50%;
    transition: all 1s ease-in-out;
}

.scale:hover{
    transform: scale(2);
}


.rotate{
    display: block;
    margin: auto;
    width: 50%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(359deg)
    }
}

.element{
    margin-top: 100px;
    height: 80px;
    width: 80px;
    background-color: black;
    transition: all 1s ease;
}

.element:hover{
    transform: translateX(100%);
}